/*h1{text-align:center; font-size:48pt}
h2{text-align:center; font-size:36pt; color:#b6c3db}
p{text-align:justify; font-size:16pt;}
img{display:block; margin-left:auto; margin-right:auto;}
*/
html{ 
	font-size: 16pt; 
	background-color: #3f495c;
	color: #ffffff;
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
}
a{ 
	color: #cfe2fa; 
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
	/**font-family: "Robot", sans-serif;**/
}
header{
	position: fixed;
	background: #2e3842;
	padding: 20px;
	width: 100%;
	height: 30px;
}
.left-sidebar h3{
	color: #fff;
	margin: 0;
	font-size: 30px;
	font-weight: 900;
}
.left-sidebar span{
	color: #b6c3db;
	font-style: italic;
}
.right-sidebar{
	float: right;
	/*padding-bottom: 5px;
	margin-top: 0;
	margin-bottom: 40px;
	margin-left: -10px;
	border-radiuS: 2px;*/
}
.sidebar{
	background: #2e3842;
	margin-top: 50px;
	padding-top: 10px;
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
}
.sidebar h3{
	color: #fff;
	margin: 0;
	font-size: 22px;
	font-weight: 900;
}
.sidebar .pic{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin-top: 50px;
	margin-bottom: 0px;
}
.sidebar a{
	color: #c2c2c2;
	display: block;
	text-decoration: none;
	line-height: 40px;
	box-sizing: border-box;
}
.sidebar a:hover{
	background: #232324;
}
.sidebar p{
	font-size: 16px;
}
.sidebar i{
	padding-top: 10px;
}
.content{
	margin-left: 270px;
	padding-top: 70px;
}
.content h1{
	text-align: center;
}
.content p{
	text-align: justify;
}
