<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
    	<meta name="eu" content="Matheus A. Canhete">
		<link rel="stylesheet" href="../static/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
		<link rel="icon" href="../img/icon.png">
		<title>Meu site, eu suponho</title>

	</head>
	<body>
	
	<header>
		<div class="left-sidebar" id="left-sidebar">
            <img src="../img/perfil.png" class="pic-blog">

            <h3>Matheus <span>Canhete</span><a href="../index.html" target=""><i class="fas fa-home" style="font-size:19px; margin-left:10px"></i></a></h3>

		</div>

        <details class="toggled">
            <summary><i class="fa fa-bars"></i></summary>
				<a href="../files/cv.html"><i class="fas fa-file-alt"></i> Curriculum</a>
				<a href="https://github.com/matheuscanhete"><i class="fab fa-github"></i> GitHub</a>
				<a href="https://www.linkedin.com/in/matheus-canhete/"><i class="fab fa-linkedin"></i> Linkedin</a>
				<a href="mailto:matheuscanhete15@gmail.com"><i class="fas fa-envelope"></i> E-mail</a>
				<a href="http://lattes.cnpq.br/3108655007764978"><i class="fas fa-search"></i> Lattes</a>
				<a href="blog"><i class="fas fa-kiwi-bird"></i> Blog</a>
        </details>
				
	</header>
		
	<div class="content">
			
		<div class="heading">

            <h1>Posts</h1>

            <hr>

            $LIST_OF_POSTS
